Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
WTForms==3.0.1
python-dotenv==1.0.0
Werkzeug==2.3.7 
openpyxl==3.1.5
reportlab==4.4.10
pillow==12.2.0
charset-normalizer==3.4.7
pyee==13.0.1
gunicorn
psycopg2-binary